.about {
  background-color: var(--backGround-color-light);
  padding: 80px 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 22px;
  font-weight: 300px;
  color: var(--header-color);
}

.row {
  padding: 15px !important;
}

.right {
  padding: 20px 0 !important;
}

.dark .card {
  background-color: var(--backGround-color);
}

.left img {
  border-radius: 5px;
  padding: 10px 2px 2px 2px;
}

.body {
  padding: 10px 10px 20px;
  text-align: center;
}

.left .body svg {
  font-size: 50px;
}

.left .body>*:nth-child(1) {
  color: #00D8FF;
  float: left;
}

.left .body>*:nth-child(2) {
  color: #E8D44D;
}

.left .body>*:nth-child(3) {
  color: #7430F9;
  float: right;
}



.right .header {
  border-bottom: 2px solid #bfbcbc;
  background-color: #F7F7F7;
  margin-left: -12px;
  width: calc(100% + 23px);
  padding-top: 2px;
  padding-bottom: 5px;
}

.right .card-header svg {
  font-size: 12px;
  margin: 0 3px;
}

.right .card-header>*:nth-child(1) {
  color: #ED4C5C;
}

.right .card-header>*:nth-child(2) {
  color: #FDCB58;
}

.right .card-header>*:nth-child(3) {
  color: #78B159;
}

.card h5 {
  padding: 20px 0;
  color: var(--header-color);
}

.card p {
  font-family: cursive;
  color: var(--title-color);
}

@media (max-width: 450px) {}