body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Tajawal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

:root {
  --backGround-color: #E9D5A1;
  --backGround-color-light: #fff;
  --color-light: #ffffff;
  --icon-color: #212529;
  --header-color: #353239;
  --title-color: #71717A;
}

.dark {
  --backGround-color: #494949;
  --backGround-color-light: #7F7F7F;
  --icon-color: #3F3832;
  --header-color: #fff;
  --title-color: #e4e4e4;
}